.h1{
    align-items: center;
    color: blanchedalmond ;
}
h1{
    margin-left: 5%;
}
h2{
    margin-left: 5%;
}
h1{
    margin left:5% ;
}
table{
    margin-left: 5%;
}
th{
    margin-left: 8%;
}
p{
    margin-left: 5%;
}
img{
    margin-left: 5%;
}
ol{
    margin-left: 4%;
}
.list{
    margin-left: 4%;
}
